<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Test Beans</title>

    {% load static %}

    <link rel="icon" href="{% static 'image/testbeans.ico' %}" >
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/jumbotron-narrow.css' %}" rel="stylesheet" type="text/css" >

    <script type = "text/javascript">
        function start() {
            var current = new Date();
            var year = current.getFullYear();
            document.getElementById("copy_right").innerHTML = "<p>&copy TEST BEANS " + year.toString() + "</p>";
        }
        window.addEventListener("load", start, false);
    </script>

</head>

<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'tester:index' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'tester:index' %}">About</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">TEST BEANS</h2>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">

            <!-- Specific content -->
            <h2>Test a scenario</h2> <br>
            <form action="{% url 'tester:detailscenarioresult' scenario.id %}" method="post">
                {% csrf_token %}
                                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Parameters</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for userdata in user_data_list %}
                            <tr>
                              <td>{{userdata}}</td>
                              <td><input type="text" class="form-control" name="{{userdata}}" value="{{userdata.value}}" ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <br>
                <h3>{{scenario}}</h3> <br>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-lg btn-success" type="submit" name="run_scenario" value="Run"/>
                    </div>
                </div>
            </form>

        </div> <!--/col-lg-6  -->

      </div>

      <footer class="footer">
        <div id="copy_right"></div>
      </footer>

    </div> <!-- /container -->

</body>
</html>